.page {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        
        
}

.site-header {
    grid-area: header;
}
.site-main{
    grid-area:main;
}

.site-aside{
    grid-area:aside;
}

.site-footer{
    grid-area:footer;
}

@media (min-width: 600px) {
    .page {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    }
}



h1{
    font-family:math;
    background-color: #e1d9a8;
    text-align: center;
    margin:0px

    
}

h2{ 
    font-family:math;
    background-color: #e1d9a8;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

button {
    background-color: #aa8e8e;
    color: black;
    padding: 2px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
