.page {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        background-color: aqua;
        
}

.site-header {
    grid-area: header;
}
.site-main{
    grid-area:main;
}

.site-aside{
    grid-area:aside;
}

.site-footer{
    grid-area:footer;
}

@media (min-width: 600px) {
    .page {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    }
}

div{
    background-color: rgb(229, 88, 196);
}

h1{
    background-color: yellow;
}
